RABBIT_USERNAME=rabbit
RABBIT_PASSWORD=rabbit
RABBIT_HOST=rabbitmq
RABBIT_PORT=5672
RABBIT_EXCHANGE=
RABBIT_ROUTING=welcome

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=test@gmail.com
SMTP_PASSWORD=1111111111111