SECRET_KEY=2aaffyth3423ffvdsdbam3m13nskalfvb3

DJANGO_SUPERUSER_PASSWORD=Pa$$w0rd
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SETTINGS_MODULE=config.settings.dev

DB_ENGINE=django.db.backends.postgresql
DB_NAME=movies
DB_SCHEME=events,users
DB_USER=postgres
DB_PASSWORD=password
DB_HOST=db
DB_PORT=5432
DATABASE=movies