NOTIFIC_RABBIT_USERNAME=rabbit
NOTIFIC_RABBIT_PASSWORD=rabbit
NOTIFIC_RABBIT_HOST=rabbitmq
NOTIFIC_RABBIT_PORT=5672
NOTIFIC_RABBIT_EXCHANGE=
NOTIFIC_RABBIT_ROUTING=welcome

NOTIFIC_POSTGRES_HOST=db
NOTIFIC_POSTGRES_PORT=5432
NOTIFIC_POSTGRES_USERNAME=postgres
NOTIFIC_POSTGRES_PASSWORD=password
NOTIFIC_POSTGRES_DB=movies

BITLY_ACCESS_TOKEN=64874500c7691eb5bfe93b0deb2bac72935c1e27

SENTRY_DSN=http://113eaa9cd7c543e08284bd5630476ddd@127.0.0.1:9000/3